/* ------------------------ Fonts ----------------------- */

/* ----------------------- Colors ----------------------- */

/* --------------- Responsive Break Points -------------- */
$xl: 1280px;
$lg: 1024px;
$md: 768px;
$sm: 640px;

$nav-height: 60px;
